<nav class="
    flex flex-col gap-2
    shadow-sm
    min-w-[220px]
    p-4
    rounded-lg
    bg-white dark:bg-slate-800
    border border-slate-200 dark:border-slate-700
  ">

  <a routerLink="pricing" routerLinkActive="active" class="menu-item" [routerLinkActiveOptions]="{ exact: true }">
    <span>💰</span>
    <span>Pricing</span>
  </a>

  <a routerLink="users/create" routerLinkActive="active" class="menu-item">
    <span>👤</span>
    <span>Usuários</span>
  </a>

  <a routerLink="users" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="menu-item">
    <span>👥</span>
    <span>Lista de Usuários</span>
  </a>

  <a routerLink="roles/create" routerLinkActive="active" class="menu-item">
    <span>🛡️</span>
    <span>Roles</span>
  </a>
</nav>
