<div class="form">
  <select [(ngModel)]="selectedType" (change)="loadSpots()">
    <option [ngValue]="ParkingSpotType.Car">Carro</option>
    <option [ngValue]="ParkingSpotType.Motorcycle">Moto</option>
    <option [ngValue]="ParkingSpotType.Truck">Caminhão</option>
  </select>

  <input
    type="text"
    placeholder="Código da vaga"
    [(ngModel)]="newSpot.code"
  />

  <button class="btn-primary" (click)="createSpot()">Criar vaga</button>
</div>

<table
  mat-table
  [dataSource]="dataSource"
  matSort
  class="mat-elevation-z3 table-wrapper"
>

  <!-- Código -->
  <ng-container matColumnDef="code">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      Código
    </th>
    <td mat-cell *matCellDef="let spot">
      {{ spot.code }}
    </td>
    <td mat-footer-cell *matFooterCellDef colspan="3">
      <strong>Total:</strong> {{ summary?.total }}
      &nbsp;|&nbsp;
      <strong>Livres:</strong> {{ summary?.free }}
      &nbsp;|&nbsp;
      <strong>Ocupadas:</strong> {{ summary?.occupied }}
    </td>
  </ng-container>

  <!-- Tipo -->
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef>
      Tipo
    </th>
    <td mat-cell *matCellDef="let spot">
      <mat-chip color="primary">
        {{ spot.type }}
      </mat-chip>
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <!-- Status -->
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>
      Status
    </th>
    <td mat-cell *matCellDef="let spot">
      <mat-chip [color]="spot.isOccupied ? 'warn' : 'accent'">
        {{ spot.isOccupied ? 'Ocupada' : 'Livre' }}
      </mat-chip>
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <!-- HEADER -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

  <!-- ROWS -->
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <!-- FOOTER -->
  <tr
    mat-footer-row
    *matFooterRowDef="displayedColumns"
    class="summary-row"
  ></tr>

</table>

<mat-paginator
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons>
</mat-paginator>
