/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', 'Segoe UI', sans-serif;
}

body {
  background-color: #f4f6f8;
  color: #2c3e50;
}

/* Utilidades */
.text-center {
  text-align: center;
}

.btn {
  padding: 12px 20px;
  border-radius: 6px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn-primary {
  background: #1e90ff;
  color: #fff;

  &:hover {
    background: #187bcd;
  }
}
