<div class="dashboard-header">

  <h1 class="text-3xl font-bold text-blue-500">
    Tailwind funcionando 🎉
  </h1>


  <button [class.active]="selectedType === ParkingSpotType.Car" (click)="changeType(ParkingSpotType.Car)">
    🚗 Carros
  </button>

  <button [class.active]="selectedType === ParkingSpotType.Motorcycle" (click)="changeType(ParkingSpotType.Motorcycle)">
    🏍️ Motos
  </button>

  <button [class.active]="selectedType === ParkingSpotType.Truck" (click)="changeType(ParkingSpotType.Truck)">
    🚚 Caminhão
  </button>
</div>

<div class="cards" *ngIf="summary">
  <div class="card total">
    <h3>Total de Vagas</h3>
    <strong>{{ summary.total }}</strong>
  </div>

  <div class="card free">
    <h3>Vagas Livres</h3>
    <strong>{{ summary.free }}</strong>
  </div>

  <div class="card occupied">
    <h3>Ocupadas</h3>
    <strong>{{ summary.occupied }}</strong>
  </div>
</div>
